<div class="container">
    <main role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>
                Contributors for the
                Goldstein Bar Mitzvah simcha
            </h1>
        </div>
        <div class="table-responsive">
            <form method="POST" action="/simchas/updatecontributions">
                <input type="hidden" name="simchaId" value="1" />
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Contribute</th>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Always Include</th>
                        <th>Amount</th>
                    </tr>
                    <input type="hidden" name="contributors[0].ContributorId" value="1" />
                    <tr>
                        <td>
                            <input class="contribute" type="checkbox" name="contributors[0].Include" checked="checked" value="true" />
                        </td>
                        <td>Friedman Avrumi</td>
                        <td>$150.00</td>
                        <td style="text-align: center;">
                            <span style="font-size: 25px;" class="oi oi-check"></span>
                        </td>
                        <td>
                            <input type="text" name="contributors[0].amount" class="form-control" value="5.0000" />
                        </td>
                    </tr>
                    <input type="hidden" name="contributors[1].ContributorId" value="2" />
                    <tr>
                        <td>
                            <input class="contribute" type="checkbox" name="contributors[1].Include" checked="checked" value="true" />
                        </td>
                        <td>Doe John</td>
                        <td>$35.00</td>
                        <td style="text-align: center;">
                            <span style="font-size: 25px;" class="oi oi-check"></span>
                        </td>
                        <td>
                            <input type="text" name="contributors[1].amount" class="form-control" value="5.0000" />
                        </td>
                    </tr>
                </table>
                <div style="text-align:center;">
                    <button class="btn-lg btn-danger">Update</button>
                </div>
            </form>
        </div>


    </main>
</div>